{:highlights [{:id #uuid "6576e63d-6276-472f-927a-ced8b2fe919f",
               :page 1,
               :position {:bounding {:x1 315.7848701477051,
                                     :y1 475.98230743408203,
                                     :x2 429.3960151672363,
                                     :y2 489.1276321411133,
                                     :width 734.4,
                                     :height 950.4},
                          :rects ({:x1 315.7848701477051,
                                   :y1 475.98230743408203,
                                   :x2 429.3960151672363,
                                   :y2 489.1276321411133,
                                   :width 734.4,
                                   :height 950.4}),
                          :page 1},
               :content {:text "modeling assumptions"},
               :properties {:color "yellow"}}
              {:id #uuid "6576e66e-921c-4ead-9ff5-25432adb5d2f",
               :page 1,
               :position {:bounding {:x1 129.61626052856445,
                                     :y1 533.3790664672852,
                                     :x2 529.104175567627,
                                     :y2 560.8793106079102,
                                     :width 734.4,
                                     :height 950.4},
                          :rects ({:x1 261.51469802856445,
                                   :y1 533.3790664672852,
                                   :x2 529.104175567627,
                                   :y2 546.5243911743164,
                                   :width 734.4,
                                   :height 950.4}
                                  {:x1 129.61626052856445,
                                   :y1 547.0036697387695,
                                   :x2 339.0486946105957,
                                   :y2 560.8793106079102,
                                   :width 734.4,
                                   :height 950.4}),
                          :page 1},
               :content {:text "multiscale models and corresponding computational algorithms that, to maximize eﬃciency"},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
