{:highlights [{:id #uuid "655dae0b-3c0d-42cf-96c9-4e43af143a8a",
               :page 9,
               :position {:bounding {:x1 0,
                                     :y1 29.80523681640625,
                                     :x2 365.9507327079773,
                                     :y2 167.1124267578125,
                                     :width 755.9055116666666,
                                     :height 425.19685},
                          :rects ({:x1 0,
                                   :y1 29.80523681640625,
                                   :x2 0,
                                   :y2 48.792938232421875,
                                   :width 755.9055116666666,
                                   :height 425.19685}
                                  {:x1 75.2091555595398,
                                   :y1 122.09649658203125,
                                   :x2 365.9507327079773,
                                   :y2 141.81451416015625,
                                   :width 755.9055116666666,
                                   :height 425.19685}
                                  {:x1 75.2091555595398,
                                   :y1 147.3944091796875,
                                   :x2 284.49977445602417,
                                   :y2 167.1124267578125,
                                   :width 755.9055116666666,
                                   :height 425.19685}),
                          :page 9},
               :content {:text "Include a contractile element which represents empirical data"},
               :properties {:color "yellow"}}
              {:id #uuid "655daf2b-0ed6-4261-b0ef-3946277e53ce",
               :page 15,
               :position {:bounding {:x1 0,
                                     :y1 13.807174682617188,
                                     :x2 755.9027709960938,
                                     :y2 860.3808288574219,
                                     :width 755.9055116666666,
                                     :height 425.19685},
                          :rects ({:x1 0,
                                   :y1 13.807174682617188,
                                   :x2 0,
                                   :y2 32.794891357421875,
                                   :width 755.9055116666666,
                                   :height 425.19685}
                                  {:x1 0,
                                   :y1 29.80523681640625,
                                   :x2 0,
                                   :y2 48.79295349121094,
                                   :width 755.9055116666666,
                                   :height 425.19685}
                                  {:x1 0,
                                   :y1 45.80329895019531,
                                   :x2 0,
                                   :y2 64.791015625,
                                   :width 755.9055116666666,
                                   :height 425.19685}
                                  {:x1 51.62267255783081,
                                   :y1 63.20489501953125,
                                   :x2 182.44634199142456,
                                   :y2 82.92291259765625,
                                   :width 755.9055116666666,
                                   :height 425.19685}
                                  {:x1 0,
                                   :y1 63.99224853515625,
                                   :x2 755.9027709960938,
                                   :y2 63.99224853515625,
                                   :width 755.9055116666666,
                                   :height 425.19685}
                                  {:x1 145.5800814628601,
                                   :y1 289.2887878417969,
                                   :x2 258.08885526657104,
                                   :y2 300.2432556152344,
                                   :width 755.9055116666666,
                                   :height 425.19685}
                                  {:x1 501.83937406539917,
                                   :y1 381.16925048828125,
                                   :x2 607.5276370048523,
                                   :y2 392.1236877441406,
                                   :width 755.9055116666666,
                                   :height 425.19685}
                                  {:x1 719.387927532196,
                                   :y1 413.1425476074219,
                                   :x2 746.3282961845398,
                                   :y2 424.0970153808594,
                                   :width 755.9055116666666,
                                   :height 425.19685}
                                  {:x1 0,
                                   :y1 425.1924743652344,
                                   :x2 755.9027709960938,
                                   :y2 425.1924743652344,
                                   :width 755.9055116666666,
                                   :height 425.19685}
                                  {:x1 0,
                                   :y1 435.1883850097656,
                                   :x2 755.9027709960938,
                                   :y2 860.3808288574219,
                                   :width 755.9055116666666,
                                   :height 425.19685}),
                          :page 15},
               :content {:text "olume constancy Erasistratus (304-250 BC) Swammerdamm (1663)13 / 34"},
               :properties {:color "green"}}
              {:id #uuid "655db192-9073-4853-a810-bf8969ff14d0",
               :page 19,
               :position {:bounding {:x1 480.0217685699463,
                                     :y1 369.6100158691406,
                                     :x2 614.0275363922119,
                                     :y2 379.8341979980469,
                                     :width 725.6692912,
                                     :height 408.18897599999997},
                          :rects ({:x1 480.0217685699463,
                                   :y1 369.6100158691406,
                                   :x2 614.0275363922119,
                                   :y2 379.8341979980469,
                                   :width 725.6692912,
                                   :height 408.18897599999997}),
                          :page 19},
               :content {:text "Gordon, Huxley, and Julian [12"},
               :properties {:color "green"}}
              {:id #uuid "655db2c6-1d57-4687-9850-d69f0234f7c6",
               :page 23,
               :position {:bounding {:x1 63.26164436340332,
                                     :y1 60.614627838134766,
                                     :x2 443.0981922149658,
                                     :y2 79.60233688354492,
                                     :width 725.6692912,
                                     :height 408.18897599999997},
                          :rects ({:x1 63.26164436340332,
                                   :y1 60.614627838134766,
                                   :x2 443.0981922149658,
                                   :y2 79.60233688354492,
                                   :width 725.6692912,
                                   :height 408.18897599999997}),
                          :page 23},
               :content {:text "hat need to be reproduced in a macroscopic model"},
               :properties {:color "yellow"}}
              {:id #uuid "655db633-05d7-4db0-825f-90e75ab85761",
               :page 31,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 755.9027709960938,
                                     :y2 860.3808517456055,
                                     :width 755.9055116666666,
                                     :height 425.19685},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 755.9055116666666,
                                   :height 425.19685}
                                  {:x1 0,
                                   :y1 13.807167053222656,
                                   :x2 0,
                                   :y2 32.794883728027344,
                                   :width 755.9055116666666,
                                   :height 425.19685}
                                  {:x1 0,
                                   :y1 29.80522918701172,
                                   :x2 0,
                                   :y2 48.792945861816406,
                                   :width 755.9055116666666,
                                   :height 425.19685}
                                  {:x1 0,
                                   :y1 47.994178771972656,
                                   :x2 755.9027709960938,
                                   :y2 47.994178771972656,
                                   :width 755.9055116666666,
                                   :height 425.19685}
                                  {:x1 46.66414976119995,
                                   :y1 64.14058685302734,
                                   :x2 190.7110857963562,
                                   :y2 83.85860443115234,
                                   :width 755.9055116666666,
                                   :height 425.19685}
                                  {:x1 41.48998212814331,
                                   :y1 382.32173919677734,
                                   :x2 398.85863065719604,
                                   :y2 393.2761764526367,
                                   :width 755.9055116666666,
                                   :height 425.19685}
                                  {:x1 719.2396121025085,
                                   :y1 413.14257049560547,
                                   :x2 746.3232913017273,
                                   :y2 424.0969772338867,
                                   :width 755.9055116666666,
                                   :height 425.19685}
                                  {:x1 0,
                                   :y1 425.1924362182617,
                                   :x2 755.9027709960938,
                                   :y2 425.1924362182617,
                                   :width 755.9055116666666,
                                   :height 425.19685}
                                  {:x1 0,
                                   :y1 435.1884078979492,
                                   :x2 755.9027709960938,
                                   :y2 860.3808517456055,
                                   :width 755.9055116666666,
                                   :height 425.19685}),
                          :page 31},
               :content {:text "ncreased stability Haeuﬂe et al. [17], Haeuﬂe, Grimmer, and Seyfarth [18], and Kalveram et al. [19]28 / 34"},
               :properties {:color "green"}}],
 :extra {:page 35}}
