{:highlights [{:id #uuid "6566eeb3-eabd-4c42-ab18-5108297caa43",
               :page 13,
               :position {:bounding {:x1 39.835403084754944,
                                     :y1 22.947280883789062,
                                     :x2 304.0223537683487,
                                     :y2 47.047088623046875,
                                     :width 725.6692912,
                                     :height 408.18897599999997},
                          :rects ({:x1 39.835403084754944,
                                   :y1 22.947280883789062,
                                   :x2 304.0223537683487,
                                   :y2 47.047088623046875,
                                   :width 725.6692912,
                                   :height 408.18897599999997}),
                          :page 13},
               :content {:text "Equilibrium Point Control"},
               :properties {:color "yellow"}}],
 :extra {:page 40}}
